<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/card.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/form.css" />
    <link rel="icon" href="/static/icons/logo.svg" type="image/x-icon" />
    <title>Kind Hinzufügen</title>
  </head>
  <body>
    <% if(typeof error != 'undefined'){ %>
    <script>
      alert("You need to fill out all fields");
    </script>
    <% } %>

    <form action="./addChild" method="POST">
      <div class="card neumorphism">
        <h1 class="header">Kind Hinzufügen</h1>
        <div class="divider"></div>
        <select
          class="neumorphism"
          name="schoolid"
          required
          placeholder="Schule"
        >
          <option value="" disabled selected hidden>
            Wähle eine Schule...
          </option>
          <% for(var i = 0; i < schools.length; i++) { %>
          <option value="<%=schools[i].id %>"><%= schools[i].name%></option>
          <% } %>
        </select>
        <input
          class="neumorphism"
          type="text"
          name="name"
          placeholder="Max Musterman"
          required="required"
        />
        <input
          class="neumorphism"
          type="text"
          name="grade"
          placeholder="6b"
          required="required"
        />
        <input
          class="neumorphism"
          type="text"
          name="teachername"
          placeholder="Lehere Nachname"
          required="required"
        />
        <select class="neumorphism" name="teachergender">
          <option value="" disabled selected hidden>
            Geschlecht der Lehrkraft...
          </option>
          <option value="m">Männlich</option>
          <option value="f">Weiblich</option>
        </select>

        <a class="sub-title" href="/user/addSchool">Neue Schule Hinzufügen</a>
        <button id="btn-submit" type="submit" class="neumorphism">
          Kind hinzufügen
        </button>
        <a class="sub-title" href="./selectChild">Abbrechen</a>
      </div>
    </form>
  </body>
</html>
