.card {
    width: 350px;
    padding: 45px 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    gap: 30px;
}
.card > * {
    flex: none;
    align-self: stretch;
}
.card .header {
    text-align: center;
    color: var(--color-dark)
}

.divider {
    height: 5px;
    border-radius: 5px;
    background-color: var(--color-dark);
}
.divider-minimal {
    height: 1px;
    border-radius: 1px;
    border-style: solid none none none;
    border-width: 3px;
    border-color: var(--color-bg-dark);
    background-color: var(--color-bg);
}
button {
    transition: 0.3s ease-in-out;
    padding: 10px;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    color: var(--color-primary);
}
button:hover{
    background-color: var(--color-primary);
    color: var(--color-bg);
}
.sub-title{
    text-align: center;
    text-decoration: none;
    color: var(--color-dark)
}
a{
    text-decoration: none;
    color: var(--color-dark)
}
.middle{
    text-align: center;
    vertical-align: baseline;
}
.vertical-align {
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.03em;
}
.row{
    width: 100%;
}
.display-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}
.display-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}
.underline{
    text-decoration: underline;
}
.icon-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
}

