:root{
    --color: 0, 100%; 
    --l:50%;

    --color-primary: #2bdff9;
    --color-secondary: #e86a5f;
    --color-dark: #1c81af;


    --color-bg: #EFEEEE;
    --color-bg-dark: #d6d6d6;
    --color-bg-light: #F5F5F5;

}