:root {

    --color: 0, 100%; 
    --l:50%;

    --color-primary: #2bdff9;
    --color-secondary: #e86a5f;
    --color-dark: #1c81af;


    --color-bg: #EFEEEE;
    --color-bg-dark: #d6d6d6;
    --color-bg-light: #F5F5F5;


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-family: arial;
}
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;;
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.neumorphism {
    background: var(--color-bg);

    box-shadow:  12px 12px 18px var(--color-bg-dark),
             -12px -12px 18px var(--color-bg-light);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
footer{
    bottom: -100px;
    position: absolute;
    width: 100%;
}

.footer {
    height: 50px;
    margin: auto;
    text-align:center;
    padding:10px;
    color: var(--color-bg-dark);
}
.footer > * {
    color: var(--color-bg-dark);
}
.danger-text {
    color: var(--color-secondary) !important;
}